<header>

    <html>

    <head>
        <link rel="stylesheet" href="ferrovial/styles.css">
    </head>

    <body>

        <div class="header-logos">
            <img src="ferrovial/imgs/FER-BR-FERROVIAL-MAIN-NEGATIVE-RGB.png" alt="logo ferrovial" class="logos-top" />
            <!-- <img src="imgs/Logo-IHCantabria.png" alt="logo IH" class="logos-top" /> -->
            <div class="big-title">
                <h1 class="header-title">{{ s1["project_name"] }}</h1>
                <p class="header-sub-title">Climate Risk Tool <pan class="text-sub">(v. {{ CRT_version }})</pan>
                </p>
            </div>
        </div>

        <div class="divider">
            <p>Project Ferrovial</p>
        </div>

    </body>

    </html>
</header>