<header>

    <html>

    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>

        <div class="header-logos">
            <img src="imgs/FER-BR-FERROVIAL-MAIN-NEGATIVE-RGB.png" alt="logo ferrovial" class="logos-top" />
            <!-- <img src="imgs/Logo-IHCantabria.png" alt="logo IH" class="logos-top" /> -->
            <div class="big-title">
                <h1 class="header-title">Adaptare</h1>
                <p class="header-sub-title">Climate Risk Tool <pan class="text-sub">(v. 1.2.1)</pan></p>
            </div>
        </div>

        <div class="divider">
            <p>Proyecto Prueba</p>
        </div>

    </body>

    </html>
</header>