/* GENERAL */
:root {
  --main: rgb(235, 183, 0);
  --main-med: rgba(235, 184, 0, 0.2);
  --secondary: #747678;
  --white: #ffffff;
  --black: #1a1a1a;
  --no-variation: #F2F2F2;
  --minor: #FFFF99;
  --moderate: #FFAE85;
  --serious: #FF7C80;
  --grave: #FF65FF;
  --reduction-extreme: #00E287;
  --reduction-very-high: #00F692;
  --reduction-high: #4FFFC4;
  --reduction-medium: #75FFE8;
  --reduction-low: #CCFFFF;
  --increase-extreme: #CC0066;
  --increase-very-high: #FF0066;
  --increase-high: #FF7C80;
  --increase-medium: #FFC000;
  --increase-low: #FFFF99;
  font-size: 12px;
}

body {
  font-family: Tahoma, sans-serif;
  text-align: justify;
}

h2 {
  background-color: var(--main);
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 0 5px 10px;
  margin-top: 1rem;
}

h3 {
  color: var(--black);
  font-size: 14px;
  margin-top: 2rem;
}

h4 {
  color: #1a1a1ac8;
}

p {
  margin: .25rem 0 .75rem 0;
  line-height: 18px;
}

li {
  margin: .5rem 0;
}

.section {
  padding: 1rem 2rem;
}

.icon-msg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
}

.material-symbols-outlined {
  color: var(--main);
  font-size: 24px !important;
  padding: 0 .5rem;
}

.icon-msg p {
  margin: 0;
}

.note {
  font-size: 10px;
  line-height: unset;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: Tahoma, sans-serif;
  height: auto;
  width: 100%;
}

.header-logos {
  background-color: var(--main);
  padding: 1.5rem 2rem 0 2rem;
  margin-bottom: 0;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.logos-top {
  height: auto;
  width: 200px;
}

.header-big-title {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  color: var(--white);
  width: calc(70% - 40px);
}

.header-title,
.header-sub-title {
  text-align: right;
  margin: 0;
  padding: 0;
}

.header-title {
  font-size: 30px;
  font-weight: 400;
}

.header-sub-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  margin-top: .25rem;
}

.header-sub-title .text-sub {
  font-size: 12px;
}

.divider {
  padding: 1rem 2rem .5rem 2rem;
  text-align: right;
  font-weight: bold;
  color: var(--secondary);
}

.divider hr {
  border-bottom: 1px solid var(--black);
}

#anexo {
  padding: 2rem;
  font-size: medium;
  font-family: serif;
}

/* BODY */
#front-page {
  background-color: var(--main);
  width: 100%;
  height: 100vh;
}

.front-page-img {
  width: 80%;
  transform: translateX(-50%);
  margin-left: 50%;
}

.front-page-big-title {
  font-weight: bold;
  text-align: center;
  color: var(--white);
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.front-page-big-title h1{
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: .5rem;
}

.field {
  margin: 16px 0;
}

label {
  color: var(--secondary);
  text-decoration: underline;
}

.figure-img {
  margin: 3% 50% 0 50%;
  height: auto;
  width: 50%;
  transform: translateX(-50%);
}

figcaption {
  text-align: center;
  margin: .5rem 0 1rem 0;
  font-size: 10px;
}


/* INDEX */
.ordered-list ol {
  counter-reset: item;
}

.ordered-list li {
  display: block;
  color: var(--black);
  margin: .5rem 0;
}

.ordered-list li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

/* TABLE */

table {
  border-collapse: collapse;
  margin-top: 2rem;
}

td,
th {
  padding: 6px 16px;
  font-weight: normal;
}

th {
  font-size: 12px;
}

td {
  font-size: 11px;
}

table thead th {
  background-color: #E7E6E6;
}

table td,
table th {
  border: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  text-align: left;
}

.table-subheader {
  background-color: var(--no-variation);
}

/* GLOSARY TABLE */

.glosary-table th,
.glosary-table td {
  border: 1px solid black;
  text-align: justify;
}

.glosary-table th {
  background-color: var(--main);
  color: var(--white);
  font-weight: bold;
}

.glosary-table .row-header {
  background-color: var(--main-med);
  color: var(--black);
}

/* LEGEND TABLE */
.legend {
  width: 65%;
}

.legend th {
  background-color: var(--no-variation);
}

.legend td,
.legend th {
  text-align: center;
}

.legend--hazrad--climate,
.legend--hazrad {
  width: 100%;
}

.legend--hazrad--climate td,
.legend--hazrad--climate th {
  text-align: left;
}

/* DYNAMIC TABLE */
.dynamic-table {
  width: 100%;
}

.dynamic-table th,
.dynamic-table td {
  text-align: center;
}

.dynamic-table thead:not(:last-child) th {
  border-bottom-width: 0;
}

.dynamic-table tr:last-of-type th {
  border-top-width: 0;
}

.dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
}


/* COLOR CELL */
.no-variation {
  background-color: var(--no-variation);
}

.minor {
  background-color: var(--minor);
}

.moderate {
  background-color: var(--moderate);
}

.serious {
  background-color: var(--serious);
}

.grave {
  background-color: var(--grave);
}

.reduction-extreme {
  background-color: var(--reduction-extreme);
}

.reduction-very-high {
  background-color: var(--reduction-very-high);
}

.reduction-high {
  background-color: var(--reduction-high);
}

.reduction-medium {
  background-color: var(--reduction-medium);
}

.reduction-low {
  background-color: var(--reduction-low);
}

.increase-extreme {
  background-color: var(--increase-extreme);
}

.increase-very-high {
  background-color: var(--increase-very-high);
}

.increase-high {
  background-color: var(--increase-high);
}

.increase-medium {
  background-color: var(--increase-medium);
}

.increase-low {
  background-color: var(--increase-low);
}

.null-value {
  text-indent: -9999px;
  line-height: 0
}

.null-value:after {
  content: " - ";
  text-indent: 0;
  display: block;
  line-height: initial;
}

@media print {
  h2 {
    page-break-before: always;
  }
}