<html>

<head>
    <title>Informe</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1 class="title">Adaptare</h1>

    <h2 class="title">PROJECT INFORMATION</h2>
    {{ project_name }}

    <h3>Sector</h3>
    {{ sector }}

    <h3>Project Code</h3>
    {{ project_code }}

    <h3>Busines Area</h3>
    {{ business_area }}

    <h3>Company</h3>
    {{ company }}

    <h3> Activity</h3>
    {{ activity }}

    <h3>Country</h3>
    {{ country }}

    <h3>Ferrovial Role</h3>
    {{ ferrovial_role }}

    <h3> Infraestructure Type</h3>
    {{ infrastructure_type }}

    <h3>Longitude</h3>
    {{ longitude }}

    <h3>Latitude</h3>
    {{ latitude }}

    <h3>Start Date (year-month-day)</h3>
    {{ start_date }}

    <h3>End Date (year-month-day)</h3>
    {{ end_date }}

    <p style="page-break-before: always"></p>

    <h2 class="title">HAZARDS SUMMARY</h2>
    <h3>Temperature</h3>
    <h3>Precipitation</h3>
    <h3>Wind</h3>
    <h3>Tropical Cyclone</h3>
    <h3>Sea Leve Rise</h3>
    <h3>WildFire</h3>
    <h3>Coastal Flooding</h3>
    <h3>Water Stress</h3>
    <h3>Snow</h3>
    <h3>Drougts</h3>

    <p style="page-break-before: always"></p>

    <h2>RISKS SUMMARY</h2>
    <h3>Drainage system</h3>
    <h3>Facilities, equipment and safety</h3>
    <h3>Illumination</h3>
    <h3>Pavement</h3>
    <h3>Terminals</h3>

    <p style="page-break-before: always"></p>



</body>

</html>